<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.middleware.mobile.web.repository.BoardRepository">

    <select id="findBoardById" parameterType="long" resultType="com.middleware.mobile.domain.dto.BoardDto">
        SELECT
                b.board_id,
                b.member_id,
                b.board_updated,
                b.board_body,
                b.board_score,
                b.board_status,
                b.board_title,
                b.board_view,
                m.member_alias,
                m.member_authority,
                c.category_id,
                c.category_name
        FROM mobile.board b
            LEFT JOIN mobile.category c ON b.category_id = c.category_id
            LEFT JOIN mobile.member m ON b.member_id = m.member_id
        WHERE b.board_id = #{boardId} AND b.state_del = 'N' AND m.state_del = 'N' AND c.state_del = 'N'
        LIMIT 1
    </select>

    <insert id="addBoard" parameterType="com.middleware.mobile.domain.dto.AddBoardDto">
        INSERT INTO mobile.board
                            (board_title,
                            board_body,
                            board_created,
                            board_updated,
                            board_status,
                            board_score,
                            board_view,
                            member_id,
                            category_id,
                            state_del)
                            VALUES (#{boardTitle},
                                    #{boardBody},
                                    #{boardCreated},
                                    #{boardUpdated},
                                    #{boardStatus},
                                    #{boardScore},
                                    #{boardView},
                                    #{memberId},
                                    #{categoryId},
                                    #{stateDel})
        <selectKey keyProperty="boardId" resultType="long" order="AFTER">
            SELECT board_id FROM mobile.board ORDER BY board_created DESC LIMIT 1
        </selectKey>

    </insert>

    <update id="updateBoard" parameterType="com.middleware.mobile.domain.dto.UpdateBoardDto">
        UPDATE
            mobile.board
        SET
            board_title = #{boardTitle},
            board_body = #{boardBody},
            board_updated = #{boardUpdated},
            board_status = #{boardStatus},
            category_id = #{categoryId}
        WHERE
            board_id = #{boardId} AND member_id = #{memberId}
        AND state_del = 'N'
    </update>

    <update id="deleteBoard" parameterType="com.middleware.mobile.domain.dto.DeleteBoardDto">
        UPDATE
            mobile.board
        SET
            board_updated = #{boardUpdated},
            state_del = #{stateDel}
        WHERE
            board_id = #{boardId} AND member_id = #{memberId}
    </update>
</mapper>
