<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.middleware.mobile.web.repository.BoardRepository">


    <select id="findCategoryById" parameterType="Long" resultType="com.middleware.mobile.domain.dto.CategoryDto">
        SELECT
            category_id,
            member_id,
            category_name,
            category_status,
            category_created,
            category_updated
        FROM mobile.category
        WHERE state_del = 'N' AND category_id = #{categoryId}
    </select>

    <select id="getCategoryList" parameterType="com.middleware.mobile.domain.dto.CategoryDto" resultType="com.middleware.mobile.domain.dto.CategoryDto">
        SELECT
            c.category_id,
            c.member_id,
            c.category_name,
            c.category_status,
            c.category_created,
            c.category_updated
            m.member_alias,
            m.member_authority
        FROM mobile.category c
        LEFT JOIN mobile.member m on c.member_id = m.member_id
        WHERE c.state_del = 'N' AND m.state_del = 'N'
        <if test="categoryName != null and categoryName != ''">
            AND category_name = #{categoryName}
        </if>
        <if test="reqMemberId != null and reqMemberId != ''">
            AND c.member_id = #{reqMemberId}
        </if>
        <if test="type != null and type != ''">
            AND c.category_status = #{type}
        </if>
    </select>

    <select id="getCategoryAssetList" parameterType="com.middleware.mobile.domain.dto.CategoryAssetDto" resultType="com.middleware.mobile.domain.dto.CategoryAssetDto">
        SELECT
            c.category_id,
            c.member_id,
            c.category_name,
            c.category_status,
            c.category_created,
            c.category_updated,
            b.board_id,
            b.board_title,
            b.board_body,
            b.board_created,
            b.board_updated,
            b.board_status,
            b.board_score,
            b.board_view,
            m.member_id,
            m.member_alias.
            (SELECT count(*) FROM c
                LEFT JOIN b ON b.category_id = c.category_id
                LEFT JOIN m ON b.member_id = m.member_id
                WHERE c.state_del = 'N' AND b.state_del = 'N' AND m.state_del = 'N'
                <if test="categoryName != null and categoryName != ''">
                    AND c.category_name = #{categoryName}
                </if>
                <if test="keyword != null and categoryStatus != ''">
                    AND (b.board_title LIKE CONCAT('%', #{keyword}, '%') OR b.board_body LIKE CONCAT('%', #{keyword}, '%'))
                </if>
                as totalCount
                )
        FROM mobile.category c
            LEFT JOIN mobile.board b ON b.category_id = c.category_id
            LEFT JOIN mobile.member m ON b.member_id = m.member_id
        WHERE c.state_del = 'N' AND b.state_del = 'N' AND m.state_del = 'N'
        <if test="categoryId != null and categoryId > 0">
            AND c.category_id = #{categoryId}
        </if>
        <if test="memberId != null and memberId > 0">
            AND m.member_id = #{memberId}
        </if>
        <if test="boardId != null and boardId > 0">
            AND b.board_id = #{boardId}
        </if>
        <if test="categoryName != null and categoryName != ''">
            AND c.category_name = #{categoryName}
        </if>
        <if test="boardStatus != null and boardStatus != ''">
            AND m.member_status = #{memberStatus}
        </if>
        <if test="boardStatus != null and boardStatus != ''">
            AND b.board_status = #{boardStauts}
        </if>
        <if test="categoryStatus != null and categoryStatus != ''">
            AND c.category_status = #{categoryStatus}
        </if>
        <if test="keyword != null and categoryStatus != ''">
            AND (b.board_title LIKE CONCAT('%', #{keyword}, '%') OR b.board_body LIKE CONCAT('%', #{keyword}, '%'))
        </if>
        <if test="rowCount != null page != null and rowCount > 0 and page > 0">
            LIMIT #{rowCount} OFFSET #{page}
        </if>
        ORDER BY b.board_updated DESC;
    </select>


    <insert id="addCategory" parameterType="com.middleware.mobile.domain.dto.AddCategoryDto">
        INSERT INTO mobile.category (
                            category_id,
                            member_id,
                            category_name,
                            category_status,
                            category_created,
                            category_updated,
                            state_del)
                            VALUES (#{categoryId},
                                    #{memberId},
                                    #{categoryName},
                                    #{categoryStatus},
                                    #{categoryCreated},
                                    #{categoryUpdated},
                                    #{stateDel})
    </insert>

    <update id="updateBoard" parameterType="com.middleware.mobile.domain.dto.CategoryDto">
        UPDATE
            mobile.category
        SET
            category_name = #{categoryName},
            category_status = #{categoryStatus},
            category_updated = #{categoryUpdated},
        WHERE
            category_id = #{categoryId} AND state_del = 'N'
    </update>

    <update id="deleteBoard" parameterType="com.middleware.mobile.domain.dto.CategoryDto">
        UPDATE
            mobile.category
        SET
            category_updated = #{categoryUpdated},
            state_del = #{stateDel}
        WHERE
            category_id = #{categoryId} AND state_del = 'N'
    </update>
</mapper>
