<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.middleware.mobile.web.repository.CommentRepository">

    <select id="getCommentList" parameterType="com.middleware.mobile.domain.dto.GetCommentDto" resultType="com.middleware.mobile.domain.dto.CommentDto">
        SELECT
            c.comment_id,
            c.board_id,
            c.member_id,
            c.parent_id,
            c.comment_body,
            c.comment_status,
            c.comment_created,
            c.comment_updated,
            c.child_count,
            m.member_id,
            m.member_alias,
            m.member_grade
        FROM mobile.comment c
        INNER JOIN mobile.member m ON c.member_id = m.member_id
        WHERE c.state_del = 'N'
        <choose>
            <when test="memberId != null and memberId > 0">
                AND (c.comment_status = 'PUBLIC' OR (c.comment_status = 'PRIVATE' AND c.member_id = #{memberId}))
            </when>
            <otherwise>
                AND c.comment_status = 'PUBLIC'
            </otherwise>
        </choose>
    </select>

    <select id="getCommentListByOwner" parameterType="com.middleware.mobile.domain.dto.GetCommentDto" resultType="com.middleware.mobile.domain.dto.CommentDto">
        SELECT
        c.comment_id,
        c.board_id,
        c.member_id,
        c.parent_id,
        c.comment_body,
        c.comment_status,
        c.comment_created,
        c.comment_updated,
        c.child_count,
        m.member_id,
        m.member_alias,
        m.member_grade
        FROM mobile.comment c
        INNER JOIN mobile.member m ON c.member_id = m.member_id
        WHERE c.state_del = 'N'
        AND (c.comment_status = 'PUBLIC' OR c.comment_status = 'PRIVATE')
    </select>
</mapper>
